openai-whisper
pynput
pyaudio
pygame
pywin32
librosa
Pillow
pyperclip
psutil
keyboard
pyfiglet
clipboardhist
pydub
openai
setuptools-rust
numpy
soundfile
torch
transformers
faster-whisper
datasets[audio]      	# for faster-whisper
accelerate           	# for faster-whisper